NODE_ENV=development
APP_NAME=wallet_system
PORT=3000
HOST=0.0.0.0

DB_HOST=localhost
DB_PORT=5432
DB_NAME=wallet_db
DB_NAME_TEST=wallet_db_test
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=7c742b53f1adc010bc451d962fcbbdccb8569c7cd6deafdfded8ba8df18f1433
JWT_TTL=1h

LOG_LEVEL=info
BCRYPT_COST=12

RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW=1 minute

CORS_ORIGINS=*
